# Build output
*.o
*.a
*.ll
*.exe
/bin/
/dist/
/.KODA_build/

# Release artifacts
raylib_win.zip
*.zip
!dist-template/**

# Go
/vendor/

# IDE
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Windows
Thumbs.db

# Test output
/test_output/
